.app {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  background-color: antiquewhite;
  max-width: 70%;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 4px 8px rgb(250, 219, 178);
}
